---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ctf.ctf.io
  resources:
  - challengeinstances
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ctf.ctf.io
  resources:
  - challengeinstances/finalizers
  verbs:
  - update
- apiGroups:
  - ctf.ctf.io
  resources:
  - challengeinstances/status
  verbs:
  - get
  - patch
  - update
