apiVersion: ctf.ctf.io/v1alpha1
kind: Challenge
metadata:
  labels:
    app.kubernetes.io/name: chall-operator
    app.kubernetes.io/managed-by: kustomize
  name: test-web
  namespace: ctf-instances
spec:
  id: "test-web"
  scenario:
    image: nginx:alpine
    port: 80
    exposeType: NodePort
    flagTemplate: 'FLAG{{"{"}}{{.ChallengeID}}_{{.SourceID}}_{{.RandomString}}{{"}"}}'
    resources:
      limits:
        cpu: 500m
        memory: 512Mi
      requests:
        cpu: 100m
        memory: 128Mi
  timeout: 600
