apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: chall-operator-system

resources:
- ../../default

# ConfigMap patch for dev environment
configMapGenerator:
- name: chall-operator-config
  behavior: merge
  literals:
  - BASE_DOMAIN=devleo.local
  - AUTH_URL=auth.devleo.local
  - DEFAULT_HOST_TEMPLATE=ctf.{{.InstanceName}}.{{.Username}}.{{.ChallengeID}}.devleo.local

images:
- name: controller
  newName: ghcr.io/elohyrr/chall-operator
  newTag: latest
- name: api-gateway
  newName: ghcr.io/elohyrr/chall-operator-gateway
  newTag: latest
