apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: chall-operator-system

resources:
- ../../default

# ConfigMap patch for production environment
configMapGenerator:
- name: chall-operator-config
  behavior: merge
  literals:
  - BASE_DOMAIN=ctf.rokhnir.dev
  - AUTH_URL=auth.ctf.rokhnir.dev
  - DEFAULT_HOST_TEMPLATE=ctf.{{.InstanceName}}.{{.Username}}.{{.ChallengeID}}.ctf.rokhnir.dev

images:
- name: controller
  newName: ghcr.io/elohyrr/chall-operator
  newTag: latest
- name: api-gateway
  newName: ghcr.io/elohyrr/chall-operator-gateway
  newTag: latest
